@import url("https://fonts.googleapis.com/css?family=Asap|Righteous&display=swap");

section a {
  font-style: italic;
}

body {
  background-color: #d1e1ef;
}

h1 {
  font-family: "Righteous";
}

p {
  font-family: "Asap";
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-default {
  background-color: #D1D1D1;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav li a {
  color: black;
}
